<header class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Context Admin{{/link-to}}
    </div>

    <div class="collapse navbar-collapse pull-right">
    {{#if session.loggedIn}}
      <span>{{gravatar-image email=session.email size=32}}</span>
      <button class="btn navbar-btn" {{action 'logout'}}>Logout</button>
    {{else}}
      <button class="btn navbar-btn" {{action 'openModal' 'login'}}>Login</button>
    {{/if}}
    </div>
  </div>
</header>

<nav class="sidebar">
  {{! context-nav route='extension' links=this class="nav-pills nav-stacked"}}
</nav>

<section class="pane">
  {{outlet modal}}

  {{outlet}}
</section>
