{{#view 'window'}}

  {{#view 'drawer'}}
    
    {{#view 'header'}}
      {{#context-toolbar}}
        <a {{action 'show_nav'}} class="btn btn-toolbar"><span class="glyphicon glyphicon-chevron-down"></span> Menu</a>
      {{/context-toolbar}}
    {{/view}}
    
    {{#view 'footer'}}
      {{#context-toolbar}}
        <a href="">{{gravatar-image hash=controllers.application.authenticated_user.email_hash size=48}}</a>
        <a href=""><span class="glyphicon glyphicon-cog"></span></a>
        {{#if session.loggedIn}}
          <button class="btn navbar-btn" {{action 'logout'}}>Logout</button>
        {{/if}}
      {{/context-toolbar}}
    {{/view}}
    
  {{/view}}
  
  {{#view 'body'}}
    <div class="context-header"></div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h1>History</h1>

          <ul class="list-history">
            {{#each history in controller}}
              <li class="list-history-item list-history-{{unbound history.action}}">
                <div class="list-history-avatar">
                  {{gravatar-image hash=history.author.email_hash size=48}}
                </div>
                <div class="list-history-details">
                  {{history.author.name}}<br>
                  <span class="meta">{{relative-time date=history.created_at}}</span>
                </div>
                <div class="list-history-action">
                  {{#link-to 'items.update' history.extension history.blueprint_slug history.data_id}}
                    {{history-action action=history.action}} a {{history.blueprint_name}}
                  {{/link-to}}
                </div>        
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

  {{/view}}

{{/view}}