<h1>{{ extension.name }}: {{ blueprint.name }}</h1>

{{#link-to 'item-create' extension.slug blueprint.slug class="btn btn-primary"}}
  Create a {{ extension.name }} {{ blueprint.name }}
{{/link-to}}

<table class="table table-hover">
  <tr>
      <th>ID</th>
      <th>Created At</th>
      <td></td>
  </tr>
  {{#each items}}
  <tr>
    <td>{{id}}</td>
    <td>{{created_at}}</td>
    <td><button {{action "destroy" this}} class="btn">Delete</button></td>
  </tr>
  {{/each}}
</table>
